/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  /*width: 600px;*/
  margin: 0 auto;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  color: #444;
}

h1 {  
  font-family: "Merriweather", serif;
  font-size: 32px;
  margin: 0;
  display: block;
  text-align: center;

}

p{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center
}

ul{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

img{
  display: block;
  margin: 0 auto;
}
button{
  font-family: "Open Sans", sans-serif;
  width: 10%;
  margin-left: 40%;
  font-size: 18px
  
}
span{
  font-family: "Open Sans", sans-serif;
  margin-left: 10px

}
a{
  display:block;
  text-align:center;
  
}